<div class="container">
  <div class="row">

    <div class="col-md-4 well" [@contenedorAnimable]="state">

      <form novalidate [formGroup]="facturaForm" (ngSubmit)="getFactura()">
        <h2>Sacar Vehiculo</h2>
        <div class="form-group">
          <label for="placa">Placa</label>
          <input type="text" class="form-control" pattern="[a-zA-Z]{3}[0-9]{3}|[a-zA-Z]{3}[0-9]{2}[a-zA-Z]{1}" formControlName="placa" style="text-transform: uppercase">
        </div>

        <button type="submit" class="btn btn-primary push-right" [disabled]="!facturaForm.valid">Sacar</button>
        <button type="button" class="btn btn-default" (click)="redireccionInicio()">Cancelar</button>
        
      </form>

    </div>
    
    <div class="col-md-4" [@animacionFactura]="state" >
      <div class="panel panel-info">

        <div class="panel-heading">
          <h2 class="panel-title centrar">Comprobante de pago</h2>
        </div>

        <ul class="list-group izquierda" *ngIf="factura != null">

          <li class="list-group-item">
            <h6 class="estilos-h6">Placa</h6>
            <p class="margen-p">{{factura.placa}}</p>
          </li>

          <li class="list-group-item hidden">
            <h6 class="estilos-h6">Cilindraje</h6>
            <p class="margen-p">{{factura.cilindraje}}</p>
          </li>

          <li class="list-group-item">
            <h6 class="estilos-h6">Hora de ingreso</h6>
            <p class="margen-p">{{factura.horaIngreso | date:'medium'}}</p>
          </li>

          <li class="list-group-item">
            <h6 class="estilos-h6">Hora de salida</h6>
            <p class="margen-p">{{factura.horaSalida | date:'medium'}}</p>
          </li>

          <li class="list-group-item">
            <h6 class="estilos-h6">Total a pagar</h6>
            <p class="margen-p">{{factura.pagoTotal}}</p>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>