<div class="container">
    <div class="row ">    
      <div class="col-md-4 col-md-offset-4 well">
        
        <div class="row">
          <div class="col-md-12">
              <button class="btn btn-primary bordes" (click)="redireccionAgregarCarro()">
                <i class="material-icons">directions_car</i>
              </button>
              <button class="btn btn-primary bordes" (click)="redireccionAgregarMoto()">
                <i class="material-icons">motorcycle</i>
              </button>    
          </div>
        </div>
      </div>
    </div>
  </div>