<div class="container">
    <div class="row ">    
      <div class="col-md-4 col-md-offset-4 well">
        
        <div class="row">
          <div class="col-md-12">
              <button class="btn btn-primary bordes" (click)="redireccionAgregarCarro()">
                <i class="fas fa-car tamano-icono"></i>
              </button>
              <button class="btn btn-primary bordes" (click)="redireccionAgregarMoto()">
                <i class="fas fa-motorcycle tamano-icono"></i>
              </button>    
          </div>
        </div>
      </div>
    </div>
  </div>